/* tablet */
@media (min-width: 741px) and (max-width:1024px) {
	.project-container .project-2 {
		margin-left: 0px;
	}
	
    
	
}


/*style for mobile view on screen less than 739px*/

@media only screen and (max-width: 740px) {

	.project-container .project-2 {
		margin-left: 0px;
	}
	header .nav {

		display: none;
	}

	.nav-icon, .mobile-navbar {

		display: block;
	}



	.nav-icon i {

		font-size: 40px;
		color: white;
		float: right;
		margin: 10px;
		cursor: pointer;

	}

	.menu {

		position: absolute;
		right: 5px;
		top: 5px;
		opacity: 1;
		text-align: center;
		list-style: none;
		border-radius: 5px;
		background-color: #2E2630;
		z-index: 1;
		height: 99vh;


	}

	.close i {

		font-size: 40px;
		text-align: right;
		color: white;

	}
	.close {

		position: absolute;
		right: 1px;
		top: 1px;
		display: none;

	}
	.menu li:first-of-type {

		margin-top: 200px;
	}
	.menu li {

		margin: 40px;
	}
	.menu li a {

		color: white;
		text-decoration: none;
		margin: 10px;
		font-size: 30px;
	}

	.menu li a:hover {

		color: #A3395B;

	}

/*	class of menu openning*/
	.opened {

		width: 50%;
		transition: width 0.8s ease-in-out;

	}

	.closed {

		width: 0%;
		transition: width 0.8s ease-in-out;
	}

	.welcome-part h1 {

		font-size: 40px;
	}

	.welcome-part h1 span {

		font-size: 30px;
	}

	.welcome-part p {

		font-size: 20px;
	}

	.container .welcome-sec .contain {

		left: 45%;

	}

	.container .welcome-sec .about {

		width: 90%;
	}

	.container .welcome-sec .about h2 {
		font-size: 25px;
	}

	.container .proj-contain {

		width: 90%;

	}

	.projects-sec .project-container {

		flex-direction: column;
		align-items: center;
		flex-wrap: nowrap;
	}

	

	.contact .contact-div {

		width: 90%;
	}

	.contact .contact-div h2 {

		font-size: 25px;

	}

	.contact .contact-div p {

		font-size: 20px;
	}
}